@import url(http://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900);

/*
color guide
light blue gray : #F7F9FC
red: ##e14952
*/


/* Overlay style */

html,
body {
    height: 100%;
    font-family: Roboto, Lato Helvetica;
}

a {
    color: inherit
}

a:hover {
    text-decoration: none;
    color: inherit;
}

::selection {
    background: #da5960;
    padding: 40px;
    color: white;
}

::-moz-selection {
    background: #da5960;
    /* Gecko Browsers */
    padding: 40px;
    color: white;
}


/*NAVBAR*/

.navbar-brand {
    float: left;
    height: 50px;
    padding: 10px 15px;
    font-size: 18px;
    line-height: 20px;
}

.navbar {
    z-index: 129;
    background: white;
    border: none;
}

.navbar .navbar-brand img {
    height: 100%;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: none;
    ;
    border-radius: 0px;
    cursor: pointer;
}

.navbar-default .navbar-nav>li>a {
    color: #1D496E;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #da5960;
    background-color: transparent;
}

.fullnav {
    /*    font-family: 'Roboto', sans-serif;*/
    position: fixed;
    background: #e14952;
    top: -100%;
    left: 0;
    width: 100%;
    height: 0%;
    z-index: 1030;
    transition: .9s;
}

#fullnav #menu_nav {
    color: white;
    background: #d0454d;
    margin: 0;
}

#close_menu {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

#menu_content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

#menu_content a {
    color: white;
}

#menu_content h3 {
    padding: 10%;
}

.open {
    top: 0;
    height: 100%;
}

.close {
    top: -100%;
    height: 0;
}


/*Banner*/

#banner_bg {
    background-image: url(img/banner_v2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
    -webkit-transform: translateZ(0);
    pointer-events: none;
}

#banner {
    position: relative;
    -webkit-transform: translatez(0);
    min-height: 100%;
    height: auto;
    color: white;
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid white 15px;
}

#name {
    font-family: 'Permanent Marker', cursive;
    font-size: 6em;
}

#info {
    /*    font-family: "Roboto Light";*/
    font-size: 1.5em;
}

.icon_text {
    /*    font-family: "Roboto Light";*/
    font-size: 1.5em;
}

.icon i {
    font-size: 3em;
}

.icon {
    position: relative;
    cursor: pointer;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    padding: 5%;
}

.text {
    cursor: auto;
}

.icon:hover {
    color: #da5960;
}

#icon_container {
    position: relative;
    background: yellow;
    -webkit-animation: mymove 2s 1;
    Safari 4.0 - 8.0 animation: mymove 2s;
    animation-delay: 1s;
}

#resume {
    margin-top: 50px;
    height: 100%;
    width: 100%;
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes mymove {
    from {
        left: -100%
    }
    to {
        left: 0px;
    }
}

@keyframes mymove {
    from {
        left: -100%
    }
    to {
        left: 0px;
    }
}


/*Content*/

.content {
    position: relative;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 15%;
    text-align: center;
}

#contact {
    /*    background: #F7F9FC;*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+47,ededed+100;White+3D+%231 */
/*    background: rgb(255, 255, 255);*/
    /* Old browsers */
/*    background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);*/
    /* FF3.6-15 */
/*    background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);*/
    /* Chrome10-25,Safari5.1-6 */
/*    background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);*/
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/*    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1);*/
    /* IE6-9 fallback on horizontal gradient */
    
    
     /*    background: #FFC500;*/
    background: #F7F9FC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left,#fcfdff, #F7F9FC);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left,#fcfdff, #F7F9FC );
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #5F5085;
}

#portfolio_div {
    color: white;
    /*    background: rgba(128, 69, 0, 0.36);*/
    /*    background: rgba(41, 22, 0, 0.36)*/
    /*    background: rgb(21, 40, 66);*/
    background: rgb(16, 53, 85);
    background-size: cover;
}

.header {
    font-family: 'Permanent Marker', cursive;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 4em;
}

.border-top {
    /*
    border-top: solid white;
    border-right: solid white;
    border-left: solid white;
    border-bottom: solid white;
    border-width: 15px;
*/
}

.border-middle {
    /*
    border-right: solid white;
    border-left: solid white;
    border-width: 15px;
*/
}

.border-bottom {
    /*
    border-top: solid white;
    border-bottom: solid white;
    border-right: solid white;
    border-left: solid white;
    border-width: 15px;
*/
}


/*CARD*/

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 45%;
    background: white;
    color: black;
    /*    border-radius: 10px;*/
    /* 5px rounded corners */
    margin: 0 auto;
}

.card img {
    border-radius: 10px 10px 0 0;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cont {
    background: #F7F9FC;
    padding: 2px 16px;
    border-radius: 0px 0px 10px 10px;
}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
    #banner {
        padding: 15%;
    }
}


/*Reinventing geospatial website*/

.exp_banner {
    position: static;
    min-height: 90%;
    height: auto;
    color: black;
    background-position: static;
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F7F9FC;
}

.exp_header {
    padding: 5%;
    /*    border: solid #01B0DF;*/
    margin-top: 50px;
    border: solid orange;
    background: white;
}

.project_description {
    background: green;
    position: relative;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 5%;
    text-align: center;
    color: white;
}

.project_detail {
    /*    font-family: Roboto Light, Helvetica*/
}

.rgi_border {
    border: solid #01B0DF
}

.rgi_background {
    background: #1A70A3;
}

.nis_border {
    border: solid #660000
}

.nis_background {
    background: #660000
}

.photos {
    /* Prevent vertical gaps */
    line-height: 0;
    -webkit-column-count: 3;
    -webkit-column-gap: 0px;
    -moz-column-count: 3;
    -moz-column-gap: 0px;
    column-count: 3;
    column-gap: 15px;
}

.photos img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
    border: solid white 7px;
    margin: 0 0 15px 0;
}

#portfolio_content {
    margin-top: 50px;
}

#view {
    height: 100%;
    width: 100%;
    position: absolute;
}

.photo_container {
    padding: 5%;
    /*    background: #242d3c;*/
    background: #141E30;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #141E30, #243B55);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #141E30, #243B55);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.portfolio_header {
    padding: 5%;
}

.project_photo {
    padding: 10%;
    display: flex;
    flex-wrap: wrap;
    /*    width: 100%;*/
}

.project_photo img {
    width: 100%;
    height: auto;
}

#nis_row {
    /*    background: #FFC500;*/
    background: #FFC500;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFC500, #ffd542);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFC500, #ffd542);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#rgi_row {
    /*    background: #e14952;*/
    background: #e14952;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #e14952, #e07249);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #e14952, #e07249);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#aurotech_row {
    background: #32324E;
    color: white;
     /*    background: #e14952;*/
    background: #32324E;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #32324E, #534c71);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #32324E, #534c71);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.img_wrapper {
    margin: auto;
    width: 20%;
}

.phone,
.computer {
    margin: auto;
}

.phone {
    width: 80%
}

.computer {
    width: 100%
}

.img_description {
    margin: auto;
    text-align: center;
}

.my-col {
    margin: auto;
}

.my-col h3 {
    font-weight: 700;
}

@media (max-width: 1200px) {
    .photos {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media (max-width: 1000px) {
    .photos {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 800px) {
    .photos {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 400px) {
    .photos {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    #name {
        font-size: 4em;
    }
    #info {
        font-size: 1em;
    }
    .icon_text {
        font-size: 1em;
    }
    .icon i {
        font-size: 3em;
    }
    .header {
        font-size: 2.5em;
    }
    .border-top,
    .border-middle,
    .border-bottom {
        border-width: 10px;
    }
    .img_wrapper {
        width: 60%;
    }
}