.Section{
    width:100%;
    height:700px;
}
#container{
    margin:auto;
}

#nav{
    height:50px;
    width:100%;
    position:fixed;
    background-color:purple;
    z-index:1;
}

#Home{
   background-color:red;
   margin-top:400px;
}

#About{
  background-color:blue;
}

#Gallery{
  background-color:green;
}

#Contact{
  background-color:yellow;
}
